<% provide(:title, "Home") %>
<div class="jumbotron center">
	<h1>Welcome to FOODme</h1>
	<h3>A social network for sharing and improving your favorite recipes</h3>
	<%= link_to "Sign up now!", "#", class: "btn btn-lg btn-primary" %>
	<div class="features">
		<h4>Sign up now to access all the features:</h4>
		<ul class="list-unstyled">
			<li>Share new recipes</li>
			<li>Improve or suggest variotion of existing recipe</li>
			<li>Vote on best variation</li>
			<li>Become top chef of a recipe and earn badges</li>
			<li>Create meal plans from content of your fridge/pantry</li>
			<li>Track costs of ingredients by stores</li>
			<li>Budget your meals</li>
			<li>Discuss meal plans</li>
			<li>Discover recipes based on ingredients you have</li>
			<li>Track your fridge/pantry items for expiration</li>
			<li>See suggested recipes for your leftover ingredients</li>
			<li>And more...</li>
		</ul>
	</div>
</div>
