<h1>FOODme <small>- account activation</small></h1>

<p>Hi <%= @user.name %>,</p>

<p>Welcome to FOODme! You must click the link below to activate your account:</p>

<%= link_to "Actvate: click here", edit_account_activation_url(@user.activation_token, email: @user.email) %>