<% provide(:title, @user.name) %>
<div class="row">
	<%= render "profile_panel" %>
	<div class="col-md-8">
		<h2>Recent Activity</h2>
		<p>Activity will go here</p>
		<%= render 'kitchens/ingredients' %>
	</div>
</div>
