<div class="row">
	<%#= form_for @kitchen do |f| %>
    <%#= fields_for @kitchen.ingredients do |kf| %>
      <%#= kf.label "Add ingredient to your kitchen" %>
      <%#= kf.text_field :name, class: "form-control" %>
      <%#= kf.label "Quantity" %> 
      <%#= kf.text_field :qty, class: "form-control" %>
    <%# end %>
    <%#= f.submit :submit, class: "btn btn-primary" %>
    <%# end %>
</div>